$start-delay: .3s;
$stroke-duration: 3.5s;
$fill-duration: 2s;
$fill-delay: $start-delay + 1.5s;

.logo {
  $opacity: 70%;
  width: 95svw;
  height: 85svh;
  display: flex;

  svg {
    flex-grow: 1;
    stroke-dasharray: 100%;
    stroke-width: 2;
    stroke: var(--mui-palette-secondary-main);
    fill: var(--mui-palette-secondary-main);

    height: 100%;
    filter: drop-shadow(0 0 3px var(--mui-palette-secondary-main));

    text {
      letter-spacing: 5px;
      font-weight: bold;
      font-size: min(max(15svw, 50px), 200px);
      text-anchor: middle;
    }
  }

  .static {
    stroke-dashoffset: 0;
    fill-opacity: $opacity;
    filter: drop-shadow(0 0 15px var(--mui-palette-secondary-main));
    scale: 1.05
  }

  .animated {
    stroke-dashoffset: 100%;
    animation: stroke $stroke-duration $start-delay forwards, fill $fill-duration $fill-delay forwards;
    fill-opacity: 0;

    @keyframes stroke {
      to {
        stroke-dashoffset: 0;
      }
    }

    @keyframes fill {
      to {
        fill-opacity: $opacity;
        filter: drop-shadow(0 0 15px var(--mui-palette-secondary-main));
        scale: 1.05
      }
    }
  }
}