.log-in-form {
  align-items: center;
  margin-top: 12svh;

  .email-suffix {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 40px;
  }

  .email {
    height: 45px;
  }

  .email-helper {
    margin-top: 102px;
    position: absolute;
  }
}