$gap: 60px;
footer {
  background-color: var(--mui-palette-background-paper);
  width: 100%;
  display: flex;
  flex-direction: column;
  $border-radius: 10px;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  gap: $gap;

  .cols {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 20svw;
    flex-wrap: wrap;
    gap: $gap 3svw;

    .MuiBox-root {
      height: fit-content;
      display: flex;
      gap: 15px;
      flex-direction: column;
      min-width: fit-content;
    }
  }

  .caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}